<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @player_name %> Stats</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <video class="backvideos" autoplay muted loop  poster="/videos/poster.jpg">
        <source src="/videos/1.mp4" type="video/mp4"> Your browser does not support HTML5 video.
    </video>
    <div class="tv_effect"></div>
    <header>
        
        <div class="header">
            <h1 title="<%= @player_name %>" class="text_glitch"><%= @player_name %></h1>
            <span><%= request.url %></span>
        </div>
        
    </header>
    <div class="stats">
        <h2> <%= @current ? "Season" : "Lifetime" %></h2>
       
        <main>
            <div class="element">
                
                <div class="content">
                    <h3 >Matches</h3>
                    <strong data-title="<%= @stats[:rounds] %>"> <%= @stats[:rounds] %></strong>
                </div>
                <div class="video">
                    <img src="/videos/landing.gif" alt="">
                </div>
                
            </div>
            <div class="element">
                <div class="content">
                    <h3>Kills</h3>
                    <strong data-title="<%= @stats[:kills] %>"><%= @stats[:kills] %></strong>
                </div>
                <div class="video">
                    <img src="/videos/kills.gif" alt="">
                </div>
            </div>
            <div class="element">
                <div class="content">
                    <h3>Wins</h3>
                    <strong data-title="<%=  @stats[:wins] %>"> <%= @stats[:wins] %></strong>
                </div>
                <div class="video">
                    <img src="/videos/winner.gif" alt="">
                </div>
            </div>
            <div class="element">
                <div class="content">
                    <h3>KD</h3>
                    <strong data-title="<%= @stats[:kd] %>"> <%= @stats[:kd] %></strong>
                </div>
                <div class="video">
                    <img src="/videos/kd.gif" alt="">
                </div>
            </div>
          
        </main>
    </div>
    
    
    
</body>
</html>